.detailsContainer {
height: 90vh;
background-image: url(../../assets/background2.jpg);
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}


.detailsWrapper {
  border: 1px solid grey;
  border-radius: 10px;
  display: flex;
  margin: 0 20rem;
  font-size: large;
  box-shadow: 5px 10px 18px #34131d;
  padding: 1rem;
}

.detailsWrapper h3, p {
margin-bottom: 1rem;
text-align: justify;
padding: 1rem 1rem 0 1rem;
}

.detailsImage {
  width: 10rem;
  height: 10rem;
  margin: 1rem;
  box-shadow: 5px 10px 18px #c47a42;
}

.detailsNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6rem 1rem;
}

.detailsNavIcon {
  cursor: pointer;
  width: 2.5rem;
  height: 2.5rem;
}